<?php

/* configuration for PerrypediaGlossarBot */
$config = array();

/* Perrypedia account and password */
$config['account'] = "my Bot"; /* CHANGEME */
// create password via [[Special:BotPasswords]] for the Bot
$config['password'] = "my BotPassword"; /* CHANGEME */
$config['apiurl'] = "https://www.perrypedia.de/mediawiki/api.php";
$config['useragent'] = "PerrypediaGlossarBot";
$config['cookiefile'] = './Perrypedia.cookie';
