<?php

/* configuration for PerrypediaGlossarBot */
$config = array();

/* Perrypedia account and password */
$config['account'] = "my Bot";
$config['password'] = "my BotPassword";
$config['useragent'] = "PerrypediaGlossarBot";
$config['cookiefile'] = './Perrypedia.cookie';
